mixin contact
    .contact#contact
        .contact__wrapper
            .row.no-gutters
                .col-12
                    hr.contact__line
                    h2.contact__title get in touch
            .row.no-gutters
                .col-md-6.col-sm-12.col-12.order-md-1.order-2
                    .contact__link-info.d-md-block.d-flex.flex-column.align-items-center
                        a.contact__link(href="https://www.google.com/maps?q=Brooklyn", target="_blank")
                            i.fas.fa-map-marker-alt.contact__icon
                            p.contact__info 91 Nolan Extensions Suite 670
                        a.contact__link(href="+001-356-868-2454", target="_blank")
                            i.fas.fa-phone-alt.contact__icon
                            p.contact__info +001 356-868-2454
                        a.contact__link(href="mailto:gahuy93@gmail.com", target="_blank")
                            i.fas.fa-inbox.contact__icon
                            p.contact__info gahuy93@gmail.com
                        .contact__link
                            i.fas.fa-clock.contact__icon
                            p.contact__info From 07:05AM to 19:30PM
                .col-md-6.col-sm-12.col-12.order-md-2.order-1
                    form.contact__form(action="" id='form').d-md-block.d-flex.flex-column.align-items-center
                        input.contact__input(type="text", name="text" id="text" placeholder='Your name' required)
                        input.contact__input(type="email", name="email", id="email" placeholder='Email' required)
                        input.contact__submit(type="submit", value="submit", data-aos="zoom-in-right")