mixin nav
    nav.nav
        .container.container--lg
            .nav__wrapper
                .row
                    .col-12.d-sm-none.d-flex.justify-content-center.align-items-center.pb-sm-0.pb-3
                        .nav__socials.d-flex.justify-content-between.align-items-center
                            a.nav__circle(href="https://www.facebook.com/", target='_blank')
                                i.fab.fa-facebook-f.nav__social-icon
                            a.nav__circle(href="https://twitter.com/", target='_blank')
                                i.fab.fa-twitter.nav__social-icon
                            a.nav__circle(href="https://www.instagram.com/", target='_blank')
                                i.fab.fa-instagram.nav__social-icon
                    .col-lg-3.col-12.d-lg-block.d-flex.justify-content-center
                        a.nav__link(href=`#`).pr-xl-0.pr-sm-3.pr-0
                                svg.icons.icons--nav.nav__icon
                                    use.nav__icon-use(xlink:href="#icon-monticello-logo")
                        .nav__socials.d-lg-none.d-sm-flex.d-none.justify-content-between.align-items-center.pl-xl-0.pl-sm-3.pl-0
                            a.nav__circle(href="https://www.facebook.com/", target='_blank')
                                i.fab.fa-facebook-f.nav__social-icon
                            a.nav__circle(href="https://twitter.com/", target='_blank')
                                i.fab.fa-twitter.nav__social-icon
                            a.nav__circle(href="https://www.instagram.com/", target='_blank')
                                i.fab.fa-instagram.nav__social-icon
                        ul.nav__list#navigation.d-lg-none.d-flex
                            li.nav__item 
                                a.nav__link(href=`#about`) About us
                            li.nav__item 
                                a.nav__link(href=`#projects`) Projects
                            li.nav__item
                                a.nav__link(href=`#news`) News
                            li.nav__item 
                                a.nav__link(href=`#contact`) Contact
                        .nav__btn#burger
                            .nav__btn-element
                    .col-lg-7.no-gutters.order-xl-2.order-3.d-lg-block.d-none
                            ul.nav__list
                                li.nav__item 
                                    a.nav__link(href=`#about`) About us
                                li.nav__item 
                                    a.nav__link(href=`#projects`) Projects
                                li.nav__item
                                    a.nav__link(href=`#news`) News
                                li.nav__item 
                                    a.nav__link(href=`#contact`) Contact
                    .col-lg-2.d-lg-flex.d-none.order-xl-3
                        .nav__socials.d-flex.justify-content-between.align-items-center
                            a.nav__circle(href="https://www.facebook.com/", target='_blank')
                                i.fab.fa-facebook-f.nav__social-icon
                            a.nav__circle(href="https://twitter.com/", target='_blank')
                                i.fab.fa-twitter.nav__social-icon
                            a.nav__circle(href="https://www.instagram.com/", target='_blank')
                                i.fab.fa-instagram.nav__social-icon