mixin projects
    .projects#projects
        .container.container--lg
            .projects__wrapper
                .row
                    .col-12
                        hr.projects__line
                        h2.projects__title What we do
                .projects__first
                    .row                        
                        .col-xl-7.offset-xl-0.col-lg-5.offset-lg-1.col-md-8.offset-md-2.col-sm-10.offset-sm-1.col-12
                            .projects__img-wrapper
                                +picture("projects_1", "png", "picture of a building").projects__img
                        .col-xl-5.col-lg-6.offset-lg-0.col-md-8.offset-md-2.col-sm-10.offset-sm-1.col-12
                            .projects__info
                                h4.projects__subtitle-top One World
                                h3.projects__subtitle-bottom Trade Center
                                p.projects__paragraph Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
                                .projects__btn-wrapper(data-aos="zoom-in-right")
                                    +btn--small('MORE DETAILS', "#")
                                a.projects__link(href="https://www.google.com/maps?q=new+york", target="_blank")
                                    i.fas.fa-map-marker-alt.projects__icon
                                    p.projects__details New York City, United States - 1776 feet
                .projects__second
                    .row                        
                        .col-xl-5.offset-xl-0.col-lg-6.offset-lg-1.col-md-8.offset-md-2.col-sm-10.offset-sm-1.col-12.order-lg-1.order-2
                            .projects__info
                                h4.projects__subtitle-top International
                                h3.projects__subtitle-bottom Commerce Centre
                                p.projects__paragraph Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.
                                .projects__btn-wrapper(data-aos="zoom-in-right")
                                    +btn--small('MORE DETAILS', "#")
                                a.projects__link.projects__link--bottom(href="https://www.google.com/maps/place/hong+kong/", target="_blank")
                                    i.fas.fa-map-marker-alt.projects__icon
                                    p.projects__details Hong Kong - 1588 Feet
                        .col-xl-7.offset-xl-0.col-lg-5.offset-lg-0.col-md-8.offset-md-2.col-sm-10.offset-sm-1.col-12.order-lg-2.order-1
                            .projects__img-wrapper.projects__img-wrapper--right
                                +picture("projects_2", "png", "picture of a building").projects__img
