mixin header
    .header#about 
        .header__wrapper
            .swiper-container.header__slider-container
                .swiper-wrapper
                    .swiper-slide.header__slide
                        .header__slide-text
                            h1.header__slide-title Simple  &amp;  modern
                            p.header__slide-subtitle We make the world's beautiful every day
                    .swiper-slide.header__slide
                        .header__slide-text
                            h1.header__slide-title Amazing &amp; creative
                            p.header__slide-subtitle Lorem ipsum dolor sit amet
                    .swiper-slide.header__slide
                        .header__slide-text
                            h1.header__slide-title Moving &amp; touching
                            p.header__slide-subtitle Lorem ipsum dolor sit amet
                    .swiper-slide.header__slide
                        .header__slide-text
                            h1.header__slide-title Cats &amp; dogs
                            p.header__slide-subtitle Lorem ipsum dolor sit amet
                    .swiper-slide.header__slide
                        .header__slide-text
                            h1.header__slide-title Last &amp; Slide
                            p.header__slide-subtitle Lorem ipsum dolor sit amet

                .swiper-pagination.header__slide-pagination
            .header__bottom.d-flex.justify-content-center
                a.header__circle(href='#projects').d-flex.justify-content-center.align-items-center
                    i.fas.fa-angle-down.header__icon